* {
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  padding: 1rem;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 500px;
  margin: 1rem auto;
}

label {
  font-weight: bold;
  margin-top: 0.5rem;
}

input,
textarea,
select {
  width: 100%;
  padding: 0.5rem;
  border: solid 1px #ccc;
  border-radius: 5px;
  font-size: 1.1rem;
}

button {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #333;
  font-size: 1.1rem;
  color: #fff;
  cursor: pointer;
}

.errorName,
.errorEmail,
.errorPassword,
.errorJob,
.errorMessage {
  color: #fb5538;
  border-color: #fb5538;
}
